#student-table{
	border: 1px;
	border-collapse: collapse;
	background-color:skyblue;
}
footer{
	position:fixed;
	bottom:0;
	left:0;
	right:0;
	background-color: skyblue;
	text-align: center;
	padding-top: 3px;
	padding-bottom: 3px;
}
td,th{
	padding: 8px;
	border: 1px solid black;
}
th{

}
#student_data table{
	background-color:#3b89a0;
	border: 1px solid black;
}

#header{
	text-align: center;
	background-color: skyblue;
	padding-top: 1px;
}
#links{
	text-align: center;
	margin-top: 30px;
	margin-bottom: 20px;
}
#description{
	width: 600px;
	margin: 0 auto;
	padding: 30px;
	background-color: skyblue;
	color: white;
	font-size: 20px;
	margin-bottom: 50px;
}
#feedBack a{
	text-decoration: none;
	color: #ffffff;
	background-color: #40739e;
	padding: 7px 10px;
}


#container{
	width: 700px;
	background-color: skyblue;
	margin: 0 auto;
	padding: 30px;
	color: black;
	text-align: center;
	margin-bottom: 50px;
}
#student_data{
	text-align: center;
	padding-top: 30px;
	margin-left: 137px;
}
#backBtn{
	margin-top: 20px;
}
#backBtn a{
	text-decoration: none;
	color: #b6b6b6;
	background-color: #141f3d;
	padding: 10px 20px;
}

/*----Form---*/
#header{
	text-align: center;
}
#form_element{
	width: 800px;
	margin: 0 auto;
	background-color: skyblue;

}
#form_element div{
	margin-bottom: 20px;
	margin-left: 211px;
}

#form_element input{
	width: 253px;
	height: 34px;
	padding-left: 15px;
	margin-left: 17px;
}
#form_element label{
	width: 100px;
	display: inline-block;
	background-color:#3b89a0;
	padding: 10px;
	text-align: center;
}
#_item_id{
	padding-top: 50px;

}
#_item_id label{
	width: 100px;
	background-color:#3b89a0;

}
#_item_submit input{
	width: 183px;
	height: 43px;
	margin-left: 183px;
	margin-top: 27px;
}
#_item_gender input{
	width: 40px;
}
#_item_gender label{
background-color:#3b89a0;
}
#_item_address textarea{
	margin-bottom: -30px;
	width: 252px;
	padding-left: 15px;
	padding-top: 10px;
	margin-left: 18px;
}
#_item_address label{
	height: 39px;background-color:#3b89a0;
}

/*---FeedBack-----*/
#container_2{
	width: 900px;
	margin: 0 auto;
	border: 1px solid black;
	text-align: center;
}
#f_name_label{
	float: left;
}
#container_2 input{
	display: inline-block;
}
#empName{
	padding-top: 10px;
}
#empName input{
	padding: 10px;
	width: 215px;
}
#empName p{
	margin-left: -324px;
	font-size: 21px;
}
#un_p p{
	margin-left: -161px;
	margin-top: 0;
	font-size: 17px;
}
#l_name_label{
	margin-left: 161px;
}

#empHireDate p{
	margin-left: -291px;
	font-size: 21px;
}
#empHireDate input{
	padding: 10px;
	width: 215px;
	margin-left: -237px;
}

#empTitle p{
	margin-left: -330px;
	font-size: 21px;
}
#empTitle input{
	padding: 10px;
	width: 461px;
	margin-right: -8px;
}
#empDept p{
	margin-left: -275px;
	font-size: 21px;
}
#empDept select{
	padding: 10px;
	width: 482px;
	margin-right: -10px;
}
#empPerformance table{
	margin-left: 213px;
}
#empPerformance p{
	margin-left: -275px;
	font-size: 21px;
}
#blank_td{
	border: none;
}
#OOP p{
	margin-left: -61px;
	font-size: 19px;
}
#OOP input{
	margin-right: 17px;
}
#oppinput {
	margin-right: 68px;
}
#sup_name{
	padding-top: 10px;
}
#sup_name input{
	padding: 10px;
	width: 215px;
}
#sup_name p{
	margin-left: -324px;
	font-size: 21px;
}

#un_p2 p{
	margin-left: -161px;
	margin-top: 0;
	font-size: 17px;
}
#l_name_label2{
	margin-left: 161px;
}
#supSig p{
	margin-left: -294px;
	font-size: 21px;
}
#sign_space{
	border: 1px solid black;
	width: 478px;
	margin-left: 209px;
	height: 180px;
}
#sign_space hr{
	margin-top: 137px;
	width: 77%;
}
#supSig input{
	margin-left: 420px;
}
#tip{
	margin-left: 0px;
	font-size: 10px;
}
#supSig h4{
	font-weight: inherit;
	margin-right: 130px;
	padding-bottom: 50px;
}
#full_page_2{

}

#empHireDate select{
	padding: 10px;
	width: 155px;
	margin-left: 5px;
}
